.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.app-container {
  display: flex;
  /* justify-conten; */
  justify-content: center;
  padding: 20px;
}

.json-editor {
  width: 45%;
}

.json-editor textarea {
  width: 100%;
  height: 200px;
}

.form-preview {
  width: 50%;
}

.tab-container {
  display: flex;
  margin-bottom: 10px;
}

.tab-container button {
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
}

.tab-container button.active {
  background-color: #f0f0f0;
}


