/* FormPreview.css */
*{
    outline: none;
    /* border: none; */
    transition: ease-in-out;
}
.form-preview {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(222, 248, 238);
    border-radius: 5px;
    position: relative;
  }
  
  .tab-container {
    margin-bottom: 20px;
  }
  
  /* .tab-container button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  } */
  
  /* .tab-container button.active {
    background-color: #3498db;
    color: #fff;
  } */
  
  .form-element {
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  /* input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
  } */
  
  .show_additional {
    display: flex;
    align-items: center;
    gap: 5px;
  }

input[type='radio']{
    visibility: hidden;
    height: 0;
    width: 0
}

.form-element{
    background-color: rgb(177, 249, 225);
    padding: 0.5em 0.5em 0.5em;
    border-radius: 3px;
}

.input, .select { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio .radio-options { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.radio-option { 
    background-color: rgb(94, 241, 192);
    padding: 5px;
    border-radius: 9px;
    cursor:pointer;
    padding-right: 12px;
    
}
/* .input input, .select input { 
    width: 200px;
} */

select,input {
    width: 300px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    outline: none !important;
    border: none !important;
    background-color: rgb(231, 250, 243);
    border: 2px solid aquamarine !important;
}

div .active {
  border: 2px solid rgb(17, 175, 122);
  background-color: rgb(37, 217, 157);
}

.pizza_title{
  margin:0 !important;
  font-size: 1.5rem;
  width:100%;
  border-bottom: 2px solid rgb(96, 250, 199);
  margin-bottom: 10px;
}

.submit {
  /* width: 100%; */
  position:absolute;
  bottom: 1rem;
  right : 2rem;
  display: flex;
  /* justify-conte??nt:end; */
  gap: 10px;
  /* border-top: 2px solid aquamarine; */
}
.submit button{
  border-radius: 3px;
  padding: 4px 10px;
  cursor: pointer;
}

.submit_btn {
  color: white;
  background: black;
}

